@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variabel Warna */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

/* Body Styling */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Hapus gradasi putih transparan */
}

/* Custom Utility Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
